.space{
    width: 95%;
    box-shadow: 0 0 10em #FCFDF2;
    border-radius: 0.5em;
    background-color: #d2b7d8;
}

.chat-space{
    margin: 0;
    padding: 1em;
    height:65vh;
    overflow-y:auto;
}

.default-chats{
    padding: 0.15em;
}

.default-space{
    margin: 0;
    height: 12vh;
}

.type-space{
    margin: 0;
    height:5vh;
    background-color: #5f2f87;
    border-radius: 0 0 0.5em 0.5em;
    text-align: center;
    padding: 0;
}

.default-chat-sub-space{
    max-width: 16.5%;
    padding: 0 0.25em;
    display: inline;
}

.default-chat{
    background-color:rgba(255,255,255,0.2);
    border-radius: 1em;
    border:none;
    outline: none;
    transition-duration: 0.1s;
    font-size: 0.8em;
    height: 100%;
    width: 100%;
}

.default-chat:hover{
    box-shadow: 0 0 0.2em;
}

.message-type-input{
    width: 80%;
    border: 0;
    outline: 0;
    border-radius: 1em;
    padding: 0.2em 1em;
}

.send-button{
    background: transparent;
    color: beige;
    border: none;
    outline: none;
    transition-duration: 0.1s;
    font-size: 1.2em;
}

.send-button:hover{
    color:white;
}

.sent-message{
    max-width: 75%;
    min-width: 15%;
    width: fit-content;
    background-color: beige;
    border-radius: 0.5em;
    text-align: left;
    padding: 0.3em;
    display: block;
}

.received-message{
    max-width: 75%;
    min-width: 15%;
    width: fit-content;
    background-color: bisque;
    border-radius: 0.5em;
    text-align: left;
    padding: 0.3em;
    display: block;
}

.clear{
    clear: both;
}

@media screen and (max-width: 768px) {
    .chat-space{
        max-height: 50vh;
        padding-top: 0;
        margin-top: 0;
    }
    .default-space{
        min-height: 25vh;
    }
    .type-space{
        max-height: 10vh;
    }
    .default-chat-sub-space{
        max-width: 50%;
        margin: 0.1em 0;
    }
    .type-space{
        height: 5.3vh;
        text-align: center;
    }
}