.main-review-div {
    margin: 2rem auto;
    display: grid;
    place-items: center;
    font-family: 'Kanit', sans-serif;
    transition: ease 1000ms;
  }
  
  .review-div {
    width: 80vw;
    max-width: 680px;
    transition: ease 1000ms;
  }
  
  .title {
    text-align: center;
    margin: 2rem 0;
  }
  
  .review {
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
    text-align: center;
    transition: ease 1000ms;
  }
  .review:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .quote {
    margin: 0 10px;
  }

  /* .mission-text {
    text-align: justify;
  } */
  
  .author {
    margin-bottom: 0.25rem;
  }
  .job {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: var(--clr-primary-5);
    font-size: 0.85rem;
  }
  .info {
    margin-bottom: 0.75rem;
  }
  
  .prev-btn,
  .next-btn {
    color: var(--clr-primary-7);
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    transition: var(--transition);
    cursor: pointer;
  }
  .prev-btn:hover,
  .next-btn:hover {
    color: var(--clr-primary-5);
  }
  
  .customer-review-card-rating {
    margin-bottom: 10px;
    font-size: 24px;
    color: gold;
  }

.flex-container {
  display: flex;
  transition: ease 1000ms;
}

.flex-child {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
}  

.prev-button-rev{
  display: inline;
  float: left;
  background: transparent;
  border: 0;
  outline: 0;
}

.next-button-rev{
  display: inline;
  float: right;
  background: transparent;
  border: 0;
  outline: 0;
}

.active-image-rev{
  border-radius: 10rem;
}

@media screen and (max-width: 550px) {
  .flex-container{
    display: block;
  }
  .flex-child{
    flex: none;

  }
}
/*  .active-image-rev{
    height: 190px;
    width: 160px;
  }

  
@media screen and (min-width: 1030px){
  .active-image-rev{
    height: 250px;
    width: 250px;
  }

  .Grid-Container{
    display: flex;
  }

  .rev-det{
    min-width: 45%;
    min-height: 100%;
    align-items: center;
    align-content: center;
  }

  .rev-img{
    min-width: 55%;
  }
}*/