.Cart-Main{
    min-height:fit-content;
    padding: 1rem auto;
}

.checkout {
    width: 94%;
    border-radius: 0.1em;
    box-shadow: 0 0 0.2em;
    margin-left: 2em;
    margin-bottom: 1rem;
}

.checkout .checkout-btn {
    margin-top: 5px;
    margin-left: 15px;
    float: left;
}

.checkout .checkout-btn button {
    float: left;
    color: white;
    background-color: #a56eb0 ;
    border: none;
    padding: auto;
    border-radius: 0.7em;
    text-align: center;
    padding-bottom: 0;
    padding-left: 0.7em;
    padding-right: 0.7em;
    font-size: 1.3em;
    font-weight: 600;
    transition-duration: 0.5s;
}

.checkout .checkout-btn button:hover{
    background-color: #5f2f87;
}

.checkout .show_price {
    float: right;
}

.checkout .show_price h4 {
    margin-top: 5px;
    margin-right: 15px;
    color: black;
}

.cartempty-img {
    margin-top: 10%;
    /* height: 300px; */
    height: 220px;
}

.nowishlist-img {
    margin-top: 10%;
}

@media screen and (max-width: 767px){
    .checkout {
        margin: 0;
    }
    .checkout .checkout-btn {
        margin-top: 4px;
        margin-left: 5px;
    }

    .checkout .checkout-btn button {
        padding-left: 0.5em;
    padding-right: 0.5em;
        font-size: 1.2em;
    }
    
    .show_price .sub-total {
        font-size: 20px;
    }

    .cartempty-img {
        margin-top: 20%;
        /* height: 300px; */
        height: 160px;
    }
    
}