.Clear{
    clear: both;
}

.D-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

.HomeSlider{
    width: 100%;
    padding-top: 5.4rem;
    text-align: center;
    background-color:#864D9E;
}

.banner{
    max-width: 100%;
    border: none;
}

.slideshow {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slideshowSlider {
    width: 100%;
    white-space: nowrap;
    transition: ease 1000ms;
    padding: 0;
    margin: 0;
}

.slide {
    width: 100%;
    display: inline-block;
    padding: 0;
    height: max-content;
    margin: 0;
}

@media screen and (max-width: 550px) {
    .banner{
        width: auto;
        height: auto;
    }
    .HomeSlider{
        width:100%;
        border-radius: 0;
    }
    .slide{
        width:auto;
    }
}