.Clear{
    clear: both;
}

.D-header{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

.HomeSlider{
    width: 100%;
    padding-top: 5.4rem;
    text-align: center;
    background-color:#864D9E;
    min-height: max-content;
    border-radius: 0 0 2rem 2rem;
}

.banner{
    max-width: 100%;
    border: none;
    animation: ease-in 2s;
}
/*
@media screen and (max-width: 767px) {
    .HomeSlider-Main{
        border-radius: 0 0 70% 10%;
    }
    .HomeSlider-Content{
        font-size: 4rem;
    }
    .HomeSlider-SubContent{
        font-size: 1rem;
    }
}
*/
@media screen and (max-width: 550px) {
    .banner{
        width: auto;
        height: auto;
    }
}