.WorkshopSlider{
    width: 100%;
    padding-top: 5.4rem;
    text-align: center;
    background-color:#864D9E;
    height:max-content;
}

.display-column-1-butt{
    background-color: transparent;
    border: none;
    outline: none;
}

.All{
    color: black;
}

.banner{
    max-width: 100%;
    border: none;
    animation: ease-in 2s;
}
@media screen and (max-width: 767px){
    .floaticons{
        top:60%;
    }
}