.floaticons {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 8;
  backdrop-filter: blur(5px);
  padding: 0.5rem;
  border-radius: 1rem;
}

.side-item{
  margin: 0.4rem 0;
  font-size: x-large;
}

.side-link{
  text-decoration: none;
  color: #5f2f87;
  font-weight:600;
  cursor: pointer;
  transition-duration:0.5s;
  background-color: beige;
  border-radius: 2rem;
  padding: 0.5rem;
  padding-top: 0.1rem;
}

.side-link:hover{
  color:#a56eb0;
}

.navbar-nav .side-link.active{
  color: #5f2f87;
}

.whatsapp_float img {
  width: 35px;
  height: 35px;
  color: #FFF;
  text-align: center;
  z-index: 100;
}

.icon {
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .floaticons {
    bottom: 0;
    max-height: fit-content;
  }

  .icon {
    margin-top: 12px;
  }

  .whatsapp_float img{
    width: 25px;
    height: 25px;
  }
}