@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); */
/* .App {
  text-align: center;
} */

/* #Home {
  height: 100vh;
} */

 body {
  /* font-family: 'Open Sans', sans-serif; */
  /* font-weight: 600; */
 }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.tile-about{
  color: black;
}

.loader-main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.loader-text{
  float:left; 
  margin-top: 2em;
  height: 60vh;
}

.loader {
  border: 2px solid #F5F4F4;
  border-radius: 50%;
  border-top: 2px solid black;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loader-main{
  margin-top: 15%;
}

a{
  text-decoration:none;
  color:white;
}

.straight-line {
  margin: 0 1rem;
  display: inline-block;
  width: 2px;
  height: 25px;
  background-color: grey;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 767px) {
  .whatsapp-icon {
      margin-top: 10px;
  }

  .loader-main{
    margin-top: 40%;
  }

  .loader {
    width: 100px;
    height: 100px;
  }
}

.PopUp{
  font-family: 'Montserrat', sans-serif;
  z-index: 999;
  background-color:#d2b7d8;
  border-radius:0.2em;
  position:absolute;
  padding: 0 6%;
  height: fit-content;
  box-shadow: 0 0 0.5em;
  text-align:center;
  width: fit-content;
}

.pb{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background:rgba(0,0,0,0.2); 
  height:100%;
  overflow-y:hidden;
}

.offer-rate {
  color: green;
  display: inline;
}

.close{
  background: transparent;
  right: 0;
  border:none;
  outline:none;
  float:right;
  margin-top:0.5em;
  margin-right:0.5em;
}

.popup-h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: 30px;
}

.offers{
  text-transform: uppercase;
  font-weight: 600;
  font-size:1.2em;
    width : 100% ;
}


@media screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
  
  .PopUp{
    width: 300px;
    padding: 0;
  }
  .popup-h1{
    margin-bottom: 15px;
    display:block;
    font-size:1.2em;
  }
  .offers{
    font-size:0.7em;
  }
}
