.order-confirmed {
    margin: 1em;
    margin-top: 3em;
    height: 100vh;
    text-align: center;
}

.order-confirmed .success-img {
    margin: 2% 0;
    height: 250px;
}

.go-back-btn {
    margin-top: 3em;
    height: 40px;
    cursor: pointer;
    /* margin-left: 35%; */
    font-weight: 600;
    letter-spacing: 0.04em;
    font-size: 16px;
    padding: 0rem 1.5rem;
    border:none;
    outline:none;
    color:white;
    background-color:black;
    border-radius: 0.2em;
    transition-duration: 0.5s;
}

@media screen and (max-width: 767px) {
    .order-confirmed .success-img {
        height: 150px;
    }
}
